.activity
  ul
    li.distance #[strong distance: ] #{distance}
    li.elapsed-time #[strong time: ] #{elapsed_time}
    li.name #[strong name: ] #{name}
  .controls
    a.play(href="#", data-id=id) play
    a.stop(href="#") stop
