title stravavarius
link(rel="stylesheet", href="/css/main.css")
script(src="https://www.google.com/jsapi", type="text/javascript")
script(src="/js/timbre.js", type="text/javascript")
script(src="/js/app.js", type="text/javascript")
