html
  head
    title stravavarius
  body
    a(href="https://www.strava.com/oauth/authorize?client_id=11194&response_type=code&redirect_uri=http://localhost:8080/api/strava/authorize") login with strava
